name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core for Actual Source
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
 
    - name: Install dependencies
      run: dotnet restore
     
    - name: Build
      run: dotnet build --configuration Debug --no-restore
  
    - name: Test
      run: dotnet test --configuration Debug --no-restore --verbosity normal
  
    - name: Sonarscanner for dotnet
      uses: Secbyte/dotnet-sonarscanner@v2.2
      with:
        buildCommand: dotnet build . --configuration Debug
        testCommand: dotnet test . --configuration Debug --verbosity normal
        projectKey: ${{ secrets.SONAR_PROJECT_KEY }}
        projectName: fake-xrm-easy-core
        sonarOrganisation: dynamicsvalue
        beginArguments: |
            /d:sonar.verbose="true"
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    
    
    
